:root {
  color-scheme: dark;

}

Link {
  all: unset;

}
body {
  margin: 0;
  padding: 0;
  height:max-content;
  width: max-content;
  overflow-x: hidden;
}
div {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
span {
  display: inline-block;
}
.hamburger {
  background: rgba(240, 240, 240 ,0.3);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
  left: 1rem;
  top: 1rem;
  position: fixed;
  z-index: 100;
}
.socials {
  background: rgba(240, 240, 240 ,0.3);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
  position: fixed;

}

.github {
  left: 5rem;
  top: 1rem;
  z-index: 99;
}
.linkedin {
  left: 9rem;
  top: 1rem;
  z-index: 98;
}
.email {
  left: 13rem;
  top: 1rem;
  z-index: 97;
}

.hamburg {
  background: #BCF8EC;
  height: .5rem;
  width: 2rem;
  border-radius: .4rem;
  position: relative;
  margin: .1rem 0;
}
.menu {
  background: rgba(16, 29, 66,.9);
  position: fixed;
  top: 0;
  left: -30rem;
  bottom: 0;
  width: 45rem;
  z-index: 90;
  border-radius: .5rem;
  display: grid;
  place-content: center;
  justify-content:left;
}
.menu li {
  list-style: none;
  color: white;
  text-align: right;
  padding: 20% 0 20% 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
}

.menu li:hover {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.menuCover {
  background: rgba(0,0,0,5);
  position: fixed;
  top: -1rem;
  left: -1rem;
  height: 110vh;
  width: 110vw;
  overflow: hidden;
  z-index: 89;
}
.page {
  background: #0a132b;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
}

.slide-text {
  font-weight: 500;
  font-size: 5rem;
  color: #BCF8EC;
  z-index: 2;
}


.center-page {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.center-scroller {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90%;
}

.skills {
  justify-content: start;
  height: fit-content
}
.scroller {
  z-index: 10;
  display: flex;
  gap: 1rem;
  max-width: 90%;
  padding: 0 20px;
  list-style-type: none;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height:calc(100% + 4px);
  -webkit-mask-image: linear-gradient(to right, #000 90%, #0000);
  mask-image: linear-gradient(to right,#0000 0%, 2%, #000 5%, 98%, #0000 100%);
}
.scroller::-webkit-scrollbar {
  display: none;
}


.job {
  font-size: 1.1rem;
  padding: 0.6rem 2rem;
  border: none;
  /* outline: none; */
  color: #BCF8EC;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 95%;
  margin: 1rem 0 1rem;
  /* transition: 1s; */

}
.orderButton:hover {
  cursor: pointer;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selected-job-description {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 5rem;
  width: 80%;
  z-index: 0;
  display: flex;
  align-items: center;
  
}


.selected {
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: #BCF8EC;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.selected::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5rem;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.selected::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 5rem;
}

/* Whoami css */

.whoami {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 130vh;
}

.backgroundContainer {
  pointer-events: none;
  top:0;
  height: 130vh;
}

.background-ground-container { 
  width: 100vw;
  height: 60vh;
  z-index: 1;
  position:relative;
}

.hill-holder {
  position: absolute;
  left: -10%;
  bottom: 0;
}
.bg {
  stroke: none;
}
.b4 {
  fill: #BCF8EC;
  height: 100%;
  width: 150%;

}
.b3 {
  fill: #7CBAC0;
  height: 100%;
  width: 130%;
}
.b2 {
  fill: #25455F;
  height: 80%;
  width: 120%;

}
.b1 {
  fill: #183146;
  height: 75%;
  width: 120%;

}
.b0 {
  fill: #0A132B;
  height: 65%;
  width: 120%;
}

.background-sky-container {
  width: 100%;
  height: 70vh;
  z-index: 0;
  top:0;
  pointer-events: none;

}

.sky {
  position: absolute;
  height: 65%;
  width: 100%;
  top:0;
  left: 0; 

}

.name {
  position: absolute;
  font-weight: 800;
  font-size: 5rem;
  top: 10%;
  left: 15%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: rgb(234, 249, 253);
}
.name > h1 {
  margin: 0;
  padding: 0;

}

.skill {
  display: flex;
  align-items: center;
}

.skill-name {
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}
.skill-desc {
  margin: 0;
}
.skill-card {
  margin: 10px;
  max-width: 60vw;
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}


.footer {
  width: 100vw;
  height: 20vh;
  background: #BCF8EC;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background-above-footer {
  background: #0a132b;
}
.wave {
  width: 200%;
  height: 20vh;
  overflow: hidden;
  background: #BCF8EC;
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 61.67%, 2.00% 60.85%, 4.00% 58.50%, 6.00% 54.97%, 8.00% 50.73%, 10.00% 46.39%, 12.00% 42.56%, 14.00% 39.78%, 16.00% 38.43%, 18.00% 38.70%, 20.00% 40.56%, 22.00% 43.75%, 24.00% 47.81%, 26.00% 52.19%, 28.00% 56.25%, 30.00% 59.44%, 32.00% 61.30%, 34.00% 61.57%, 36.00% 60.22%, 38.00% 57.44%, 40.00% 53.61%, 42.00% 49.27%, 44.00% 45.03%, 46.00% 41.50%, 48.00% 39.15%, 50.00% 38.33%, 52.00% 39.15%, 54.00% 41.50%, 56.00% 45.03%, 58.00% 49.27%, 60.00% 53.61%, 62.00% 57.44%, 64.00% 60.22%, 66.00% 61.57%, 68.00% 61.30%, 70.00% 59.44%, 72.00% 56.25%, 74.00% 52.19%, 76.00% 47.81%, 78.00% 43.75%, 80.00% 40.56%, 82.00% 38.70%, 84.00% 38.43%, 86.00% 39.78%, 88.00% 42.56%, 90.00% 46.39%, 92.00% 50.73%, 94.00% 54.97%, 96.00% 58.50%, 98.00% 60.85%, 100.00% 61.67%);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px 0;
  margin: 0;
}

.section {
  font-size: 1.25rem;
}


.list-item {
  list-style: none;
  padding: 0 10px;
}

.list-item:hover {
  cursor: pointer;
}

.line {
  height:1px;
  width: 20vw;
  background: #0A132B;
  content: "";
}

.footer-text {
  opacity: .7;
}

a {
  text-decoration: none;
  color: inherit;
}