:root {
  color-scheme: dark;
  --primary: #BCF8EC;
  --secondary: #7CBAC0;
  --tertiary: #25455F;
  --quad: #183146;
  --quint: #0A132B;
}

Link {
  all: unset;

}
body {
  margin: 0;
  padding: 0;
  height:max-content;
  width: max-content;
  overflow-x: hidden;
}
div {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
span {
  display: inline-block;
}
.hamburger {
  background: rgba(240, 240, 240 ,0.3);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
  left: 1rem;
  top: 1rem;
  position: fixed;
  z-index: 100;
}
.socials {
  background: rgba(240, 240, 240 ,0.3);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
  position: fixed;

}

.github {
  left: 5rem;
  top: 1rem;
  z-index: 99;
}
.linkedin {
  left: 9rem;
  top: 1rem;
  z-index: 98;
}
.email {
  left: 13rem;
  top: 1rem;
  z-index: 97;
}

.hamburg {
  background: var(--primary);
  height: .5rem;
  width: 2rem;
  border-radius: .4rem;
  position: relative;
  margin: .1rem 0;
}
.menu {
  background: rgba(16, 29, 66,.9);
  position: fixed;
  top: 0;
  left: -30rem;
  bottom: 0;
  width: 45rem;
  z-index: 90;
  border-radius: .5rem;
  display: grid;
  place-content: center;
  justify-content:left;
}
.menu li {
  list-style: none;
  color: white;
  text-align: right;
  padding: 20% 0 20% 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
}

.menu li:hover {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.menuCover {
  background: rgba(0,0,0,5);
  position: fixed;
  top: -1rem;
  left: -1rem;
  height: 110vh;
  width: 110vw;
  overflow: hidden;
  z-index: 89;
}
.page {
  background: var(--quint);
  top: 0;
  left: 0;
  width: 99vw;
  height: fit-content;
  min-height: 1080px;
}

.slide-text {
  font-weight: 500;
  font-size: 5rem;
  color: inherit;
  z-index: 2;
}

.center-page {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.photo-gal-holder {
  border-radius: 1rem;
  outline: 3px solid white;
  overflow: hidden;
}
.about-photo-gal {
  width: 550px;
  height: 733px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.frame-subsection {
  width: 700px;
  height: 733px;
  flex-direction: column;
  row-gap: 1rem;
}

.carousel-holder {
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(to right,#0000 0%, #000 3%, #000 97%, #0000 100%);

}

.experiences {
  color: var(--primary);
  background: var(--tertiary);
  min-height: 1080px;
  height: fit-content;
}

.center-scroller {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90%;
}

.skills {
  justify-content: start;
  height: fit-content;
  min-height: 1080px;
}
.scroller {
  z-index: 10;
  display: flex;
  gap: 1rem;
  max-width: 90%;
  padding: 0 20px;
  list-style-type: none;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height:calc(100% + 4px);
  -webkit-mask-image: linear-gradient(to right, #000 90%, #0000);
  mask-image: linear-gradient(to right,#0000 0%, 0.5%, #000 5%, 98%, #0000 100%);
}
.scroller::-webkit-scrollbar {
  display: none;
}

.exp-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  width: 80%;
}


.job {
  font-size: 1.1rem;
  padding: 0.6rem 2rem;
  border: none;
  /* outline: none; */
  color: var(--primary);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  width: max-content;
  height: 95%;
  margin: 1rem 0 1rem;
  /* transition: 1s; */
}
.exp-options .exp-option-button {
  color: white;
}
.order-button:hover {
  cursor: pointer;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.frame-holder {
  color: white;
  padding: 1rem;
  width: 80%;
  max-width: 1532px;
  min-height: 920px;
  height: fit-content;
  z-index: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.company-card {
  width: 500px;
  height: 100%;
}

.job-card {
  min-width: min-content;
  width: 775px;
  height: 100%;
}

.card-layout {
  display: flex;
}

.card-deco {
  background: var(--quint);
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
  border-radius: 1rem;
  /* outline: 3px solid white; */
  min-width: fit-content;
  min-height: fit-content;
}
.card-side-info{
  background: var(--quint);
  width: min-content;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
  border-radius: 1rem;
  border: 3px solid white;
  min-width: fit-content;
  min-height: fit-content;
  padding: 0 2rem;
  z-index: -1;
  position: relative;
  top: 10px;
}

.card-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 3px solid white;
}

.card-img-holder {
  width: 100%;
  min-width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: .9rem .9rem 0 0;
  outline: 3px solid white;
}

.card-img {
  object-fit: cover;
}

.card-description {
  min-width: fit-content;
  min-height: fit-content;
  height: 60%;
  padding: 1rem;
  font-size: 1.3rem;
}

.text-box {
  white-space: pre-line;
}

.selected {
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: var(--primary);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.selected::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5rem;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.selected::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 5rem;
}

/* Whoami css */

.whoami {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 1500px;
}

.backgroundContainer {
  pointer-events: none;
  top:0;
  height: 130vh;
}

.background-ground-container { 
  width: 100vw;
  height: 600px;
  z-index: 1;
  position:relative;
}
.tester {
  fill:none;
  stroke: white;
  stroke-width:5;
  stroke-miterlimit:10;
  z-index: 1000;
}

.hill-holder {
  position: absolute;
  left: -10%;
  bottom: 0;
}
.bg {
  stroke: none;
}
.b4 {
  fill: var(--primary);
  height: 100%;
  width: 150%;

}
.b3 {
  fill: var(--secondary);
  height: 100%;
  width: 130%;
}
.b2 {
  fill: #25455F;
  height: 80%;
  width: 120%;

}
.b1 {
  fill: var(--quad);
  height: 75%;
  width: 120%;

}
.b0 {
  fill: var(--quint);
  height: 65%;
  width: 120%;
}

.background-sky-container {
  width: 100%;
  height: 70vh;
  z-index: 0;
  top:0;
  pointer-events: none;

}

.sky {
  position: absolute;
  height: 65%;
  width: 100%;
  top:0;
  left: 0; 

}

.name {
  position: absolute;
  font-weight: 800;
  font-size: 5rem;
  top: 10%;
  left: 15%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: rgb(234, 249, 253);
}
.name > h1 {
  margin: 0;
  padding: 0;

}

.skill {
  display: flex;
  align-items: center;
}

.skill-name {
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}
.skill-desc {
  margin: 0;
}
.skill-card {
  margin: 10px;
  max-width: 60vw;
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}


.footer {
  width: 100vw;
  height: 20vh;
  background: var(--primary);
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background-wave {
  height: 19vh;
}
.wave {
  width: 300vw;
  height: 20vh;
  position: relative;
  overflow: hidden;
  background: var(--primary);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 73.33%, 2.00% 71.69%, 4.00% 67.01%, 6.00% 59.93%, 8.00% 51.47%, 10.00% 42.79%, 12.00% 35.13%, 14.00% 29.55%, 16.00% 26.85%, 18.00% 27.40%, 20.00% 31.12%, 22.00% 37.50%, 24.00% 45.63%, 26.00% 54.37%, 28.00% 62.50%, 30.00% 68.88%, 32.00% 72.60%, 34.00% 73.15%, 36.00% 70.45%, 38.00% 64.87%, 40.00% 57.21%, 42.00% 48.53%, 44.00% 40.07%, 46.00% 32.99%, 48.00% 28.31%, 50.00% 26.67%, 52.00% 28.31%, 54.00% 32.99%, 56.00% 40.07%, 58.00% 48.53%, 60.00% 57.21%, 62.00% 64.87%, 64.00% 70.45%, 66.00% 73.15%, 68.00% 72.60%, 70.00% 68.88%, 72.00% 62.50%, 74.00% 54.37%, 76.00% 45.63%, 78.00% 37.50%, 80.00% 31.12%, 82.00% 27.40%, 84.00% 26.85%, 86.00% 29.55%, 88.00% 35.13%, 90.00% 42.79%, 92.00% 51.47%, 94.00% 59.93%, 96.00% 67.01%, 98.00% 71.69%, 100.00% 73.33%);
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px 0;
  margin: 0;
}

.section {
  font-size: 1.25rem;
}


.list-item {
  list-style: none;
  padding: 0 10px;
}

.list-item:hover {
  cursor: pointer;
}

.line {
  height:1px;
  width: 20vw;
  background: var(--quint);
  content: "";
}

.footer-text {
  opacity: .7;
}

a {
  text-decoration: none;
  color: inherit;
}